<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Default" connectionString="Server=localhost\SqlExpress; Database=SuperBank; User=SuperBankWeb; Password=TB2jk9D%mL{%CI#K"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" requestValidationMode="0.0"/>
  </system.web>
</configuration>
